APP_NAME= "SoukAI"
APP_VERSION= "V1.0"

PRIMARY_LANG = "ar"
DEFAULT_LANG = "en"

################## LLM Config ########################
BACKEND_LITERAL = ["GROQ", "OPENROUTER"]
GENERATION_BACKEND="OPENROUTER"

OPENROUTER_API_KEY = ""
OPENROUTER_URL = "https://openrouter.ai/api/v1/chat/completions"

OPENROUTER_MODEL_LITERAL = ["liquid/lfm-2.5-1.2b-instruct:free","nex-agi/nex-n2-pro:free", "google/gemma-4-26b-a4b-it:free", "moonshotai/kimi-k2.6:free"]
OPENROUTER_MODEL = "moonshotai/kimi-k2.6:free"


GROQ_API_KEY= ""

GROQ_MODEL="moonshotai/kimi-k2-instruct-0905"



DEFAULT_INPUT_MAX_CHARACTERS=1024
DEFAULT_MAX_OUTPUT_TOKENS=200
DEFAULT_TEMPERATURE=0.1